


body{
background: url("./fondo.jpg");
background-repeat: no-repeat;
background-position: relative;
padding: 20px;

}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}
section {
    text-align: center;
}


.title{
margin: auto;
}

#victory{
visibility: hidden;
}

h2{
font-size: 2,5em;
}


.box {
    background: #53d6af;
    border: black 1px solid;
    width: 180px;
    height: 180px;
    margin: 6px;
    margin-top: 0;
    cursor:unset;
    display: inline-block;
    border-radius: 10px;
   
}

.boxParent{

    margin: auto;


}
.row {
    display: block;
    float:none;
    width:100%;
    margin-left: 640px;
}

.box:hover{
background:rgba(246, 245, 246, 0.288)

}


/*Button start*/

#button {
    margin-top: -14px;
    margin-left: 240px;
    line-height: 60px;
    font-weight: normal;
    padding: 0 30px;
    background: rgb(235, 88, 203);
    border: none;
    border-radius: 17px;
    font-size: 30px;
    color:white;
  }

  #button:hover {
    background: rgb(122, 255, 233);
  }

  .github{
  height: 70px;
  margin-top: 50px;

  }

  .linkdin{
  height: 70px;

  }

 




